@charset "UTF-8";
/* CSS Document */
*{

	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.gwidth{
	width: 1000px;
	margin: 0 auto;
}
.clearfix:after{
		content:"";
		clear:both;
		display: block;
	}
.fl{
	float: left;
}
.fr{
	float: right;
}
.box{
	width: 1282px;
	margin: 30px auto;
}
	.top{
		height: 81px;
		position: relative;
	}
		.top h3{
			line-height: 70px;
		}
		.s1{
			width: 21px;
			height: 21px;
			border-radius: 50%;
			background-color: #F98561;
			display: inline-block;
		}
		.s2{
			width: 18px;
			height: 18px;
			background-color: #23AFC8;
			display: inline-block;
			margin-left: 3px;
			margin-right: 7px;
		}
		.top ul{
			margin-left: 150px;
			font-size: 12px;
			line-height: 69px;
		}
			.top .a1{
				width: 66px;
				height: 25px;
				display: inline-block;
				background-color: #F98561;
				border-radius: 3px;
				color: #fff;
				line-height: 25px;
				text-align: center;
				font-size: 12px;
				position: absolute;
				left: 75%;
				bottom: 40%;
			}
			.top li{
				margin-right: 20px;
				position:relative;
			}
			.top li a{
				color: #000;
				width: 75px;
				display: inline-block;
				text-align: center;
			}
			.top li span{
				display: inline-block;
				border:6px solid;
				border-color:transparent transparent  #007FB7 transparent;
				position:absolute;
				left:50%; bottom:0;
				margin-left: -5px;
				opacity: 0;
			}
			.top li:hover {
					background-color: #11A3D5;
					border-bottom: 12px solid #007FB7;
				}
			.top li:hover a{
				color: #fff;
			}
			.top li:hover span{
				opacity: 1;
			}
		.p2{
			margin-left: 185px;
			font-size: 12px;
			line-height: 81px;
		}
		.s3{
			width: 36px;
			height: 36px;
			border-radius: 50%;
			background-color: #F98561;
			display: inline-block;
			position: relative;
			margin-left: 3px;
			margin-top: 20px;
			cursor: pointer;
		}
			.s3 img{
				position: absolute;
				left: 7px;
				bottom: 7px;
			}
	.banner{

			width: 100%;
			height: 491px;
			margin-top: -100px;
			position: relative;
			overflow: hidden;
		}
		ol{

			height: 12px;
			width: 100px;
			position: absolute;
			right: 10%;
			bottom: 30px;
			z-index: 3;
		}
		ol li{

			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #ADADAD;
			margin-right: 4px;
			float: left;
		}
			ol li:hover{

				background-color: #2190C1;
				border: 3px solid #F68562;
				width: 6px;
				height: 6px;
			}
		.banner img{
			width: 1440px;
			height:491px;
			float: left;
		}
		.banner ul{
				
				width: 500%;
				height: 100%;
				position: absolute;
				left: 0;
				bottom: 0;
		}
		.banner ul li{
			position: relative;
		}
			.up1{
				font-size: 42px;
				color: #CCCECE;
				position: absolute;
				top:80px;
				left: 350px;
			}
			.up2{
				width: 624px;
				font-size: 12px;
				position: absolute;
				top:180px;
				left: 350px;
				color: #CCCECE;
			}
			.up3{
				width: 243px;
				height: 51px;
				background-color: #F98561;
				position: absolute;
				top:280px;
				left:500px;
				color: #fff;
				line-height: 51px;
				text-align: center;
				font-size: 18px;
				cursor: pointer;
			}
